@import "../settings/variables.scss";

.o-form {
    &__input {
        border: none;
        border-bottom: solid .1rem #0000006b;
        display: block;
        margin: 2rem 0;
        padding-right: 10%
    }
    
    &__textarea {
        display: block;
        margin-bottom: 2rem;
        padding: 0 10% 10% 0;
    }

    &__input:focus {
        outline: none;
        border-bottom: solid .2rem $focus-input-color;
    }
}