@import "../settings/variables.scss";

.o-list {
    font-family: $font;
    font-weight: $font-semi-bold;
    display: flex;
    
    &__item {
        list-style: none;
    }
    
    &__link {
        padding: 23% 2rem;
        color: $header-text;
        text-decoration: none;
    }

}