@import "../settings/variables.scss";

.o-section {
    margin: 3rem 3rem;

    &__title {
        font-family: $font;
        font-weight: $font-semi-bold;
        border-bottom: solid .25rem $border-bottom;
        max-width: 20%; 
        text-align: center;
    }

    &__content {
        font-family: $font;
        font-weight: $font-regular;
        max-width: 60%;
    }

    &__iframe {
        display: block;
        margin: auto;
        padding: 3rem 0;
    }
}