$font: 'Raleway', sans-serif;
$font-regular: 400;
$font-semi-bold: 700;
$font-black: 900;
$background: #3D3D3B;
$header-text: #fff;
$linear-background: linear-gradient(to right, #0BB1D3, #5173E8, #9F2FFF);
$border-bottom: #9F2FFF;