@use 'settings/variables.scss';

.l-logo {
    display: flex;
    
    &__img {
        max-height: 10%;
        max-width: 10%;
    }
    
    &__title {
        font-family: $font;
        font-weight: $font-black;
    }
}