@import "../settings/variables.scss";

.l-logo {
    display: flex;
    margin: 1rem;
    
    &__img {
        max-width: 10%;

        &--footer {
            width: 15%;
            margin-right: 2rem;
        }
    }
    
    &__title {
        font-family: $font;
        font-weight: $font-black;
        margin: auto 0 auto 1rem;
        color: $header-text;
    }
}